@charset "utf-8";
.top1 {
    width: 1190px;
    height: 31px;
    margin: 0 auto;
}
.container {
    width: 1190px;
    height: 1338px;
    margin: 0 auto;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
img {
     vertical-align: middle;
 }
.top {
    width: 100%;
    height: 30px;
    background-color: #e3e4e5;
    border-bottom: 1px solid #dddddd;
    margin:0 auto;
}
.top_center {
    width: 1190px;
    height: 31px;
    margin: 0 auto;
}
#top .top_center.w {
    width: 257.56px;
    height: 30px;
    position: relative;
}

.top_l {
    width: 55px;
    height: 31px;
    margin-left: 202.56px;
    text-align: center;
}
.top_l s {
    vertical-align: middle;

}
.top_l span {
    font-size: 12px;
    color: #9d9d9d;
    line-height: 28px;
}
.top_r {
    width: 703.11px;
    height: 31px;
}
.top_r li {
    float: left;
}
.top_r ul li {
    color: #999;
    text-decoration: none;
    font-size: 12px;
    text-align: center;;
    line-height: 28px;
    float: left;
}
.top_r ul li a.link_regist{
    margin-right: 5px;
    color: red;;
}
.top_r li.spacer {
    overflow: hidden;
    margin: 11px 5px 0 5px;
    width: 1px;
    height: 10px;
    line-height: inherit;
    background-color: #cccccc;
}
.my_order {
    width: 62px;
    height: 30px;
}
.jd_vip {
    width: 62px;
    height: 30px;
    text-align: center;;
}
.enterprise_procurement {
    width: 62px;
    height: 30px;
}
.enterprise_procurement a {
    color: #999;
    text-decoration: none;
    font-size: 12px;
    text-align: center;;
    line-height: 28px;
}
.my_jd {
    width: 77px;
    height: 30px;
    text-align: center;
}
.my_jd a {
    color: #999;
    text-decoration: none;
    font-size: 12px;
    line-height: 28px;
}
.customer_service {
    width: 77px;
    height: 30px;
    text-align: center;
}
.customer_service a {
    color: #999;
    text-decoration: none;
    font-size: 12px;
    line-height: 28px;
}
.site_navigation {
    width: 77px;
    height: 30px;
    text-align: center;;
}
.site_navigation a {
    color: #999;
    text-decoration: none;
    font-size: 12px;
    line-height: 28px;
}
.mobile_jd {
    width: 74px;
    height: 30px;
    text-align: center;
}
.mobile_jd a {
    color: #999;
    text-decoration: none;
    font-size: 12px;
    text-align: center;;
    line-height: 28px;
}
.header {
    width: 1190px;
    height: 140px;
    position: relative;
}
.header_center {
    width: 1190px;
    height: 140px;
    margin: 0 auto;
}
.logo {
    width: 171px;
    height: 190px;
    position: absolute;
    margin: 0;
    padding: 0;
}
.search {
    width: 1190px;
    height: 60px;
    float: left;
    position: relative;
}
.form {
    width: 550px;
    height: 35px;
    bottom: 0px;
    margin-left: -275px;
    left: 50%;
    position: absolute;
    vertical-align: inherit;
}
.btn_search {
    width: 50px;
    height: 35px;
    border: none;
    background-color: #f10215;
}
.search_input {
    width: 490px;
    height: 25px;
    border: 1px solid #f10215;
    padding: 4px;
    font-size: 14px;
    color: #989898;
}
.my_shopping_cart {
    position: absolute;
    right: 99px;
    top: 25px;
    width: 190px;
    height: 35px;
    border: 1px solid #e3e4e5;
    text-align: center;
    background-color: white;
}
.my_shopping_cart span {
    color: #fd000f;
    text-decoration: none;
    line-height: 32px;
    font-size: 12px;
}
.mobile_static {
    width: 66px;
    height: 66px;
    padding-right: 0px;
    border: 1px solid #cfcfcf;
    border-top: none;
    text-align: center;
    line-height: 64px;
}
.hotwords {
    margin-left: -275px;
    left: 50%;
    position: absolute;
    vertical-align: inherit;
    top: 60px;
}
.hotwords a{
    font-size: 12px;
    color: #999;
    text-decoration: none;
}
.hotwords a:hover {
    color: #c81623;
}
.navitems {
    width: 1190px;
    height: 80px;
    float: left;
    position: relative;

}
.nav {
    overflow: hidden;
    width: 790px;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -365px;
    text-align: center;
    display: flex;
    align-items: center;

}

.nav ul {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;

    display: inline;

    list-style: none;
}
.nav ul li {
    float: left;


    display: inline-block;
    text-align: -webkit-match-parent;
    line-height: inherit;
}
.nav ul li a {
    font-weight: bold;
    font-size: 16px;
    color: #53555f;
}
.spacer_line {
    margin-left: 25px;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}
li.fore1 {
    display: inline-block;
    text-align: -webkit-match-parent;
    margin-left: 25px;
    line-height: inherit;
}
.nav_b {
    width: 1190px;
    height: 480px;
    position: relative;
    border: 0;
}
.navitems_b {
    width: 190px;
    height: 100%;
    margin-right: 10px;
    background-color: #6e6568;
    float: left;
    position: relative;
}
.user {
    width: 190px;
    height: 116px;
    float: left;
    background-color: white;
    position: relative;
}
.news {
    width: 190px;
    height: 154px;
    background-color: white;
    position: relative;
    float: left;
}

.jd_service {
    width: 190px;
    height: 210px;
    overflow: hidden;
    background-color: white;
}
.ads {
    height: 130px;
    width: 790px;
    left: 200px;
    bottom: 0;
    position: absolute;
}
.nav_list {
    display: block;
    list-style-type: none;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.nav_list li a,span {
    font-size: 14px;
    color: white;
    text-decoration: none;
}
.nav_list li {
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    width: 175px;
    padding-left: 15px;

}
.user_info {
    width: 170px;
    height: 75px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
.user_profit {
    width: 170px;
    height: 24px;
    position: relative;
    margin: 0 auto;

}
.head_img {
    width: 45px;
    height: 45px;
    position: absolute;
    overflow: hidden;
    top: 15px;
}
.user_info_show {
    width: 110px;
    height: 36px;
    position: absolute;
    top: 20px;
    right: 0;
}
.head_img img {
    height: 100%;
    display: block;
    vertical-align: middle;
    border-radius: 23px;
}
.user_info_show p {
    display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    font-size: 12px;
    line-height: inherit;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin-top: 2px;
}
.sign a {
    font-size: 13px;
    line-height: inherit;
}
.user_profit a {
    font-size: 12.5px;
    border: 2px solid #e01222;
    color: #e01222;
    width: 70px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
}
.user_profit a:hover {
    background-color: #e01222;
    color: white;
    cursor: pointer;
}
.news_content {
    width: 160px;
    height: 147px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
.news_content_head {
    width: 160px;
    height: 27px;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
}
.news_content_head a {
    line-height: 27px;
    font-size: 13px;
}
.promotion {
    color: #333;
    border-right: 1px solid #dfe0e1;
    padding-right: 12px;
}
.notice {
    color: #333;
    padding-left: 12px;
}
.news_more {
    color: #666;
    position: absolute;
    right: 0;
}
.news_tab {
    position: absolute;
    width: 28px;
    height: 2px;
    left: -2px;
    background-color: #db192b;;
}
.news_list {
    position: relative;
    width: 160px;
    height: 120px;
}
.list {
    position: absolute;
    display: block;
    width: 160px;
    height: 96px;
    top: 12px;
}
.list li a {
    font-size: 13px;
    color: #666;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 160px;
    overflow: hidden;
    display: block;
    line-height: 24px;
}
.list li {
    display: list-item;
    overflow: hidden;
}
.service_list {
    list-style-type: disc;
    width: 192px;
    height: 210px;
}
.service_item {
    width: 47px;
    height: 69px;
    float: left;
    border-right: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
    text-align: center;
    list-style: none;
}
.service_item a img{
    margin-top: 10px;
}
.service_item a span{
    color: black;
    line-height: 22px;
    height: 22px;
}
.item_list {
    width: 1000px;
    height: 480px;
    background-color: #00BDEF;
    position: absolute;
    margin-left: 175px;
    top: 0px;
    display: none;
    z-index: 1000;
}
.item a:hover {
    color: red;
}
/*轮播图布局*/
#rolling_ads {
    width: 790px;
    height: 340px;
    margin-right: 10px;
    float: left;
    position: relative;
    cursor: pointer;

}
#pic li {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}
#num {
    position: absolute;
    left: 40%;
    bottom: 10px;
    z-index: 2;
    cursor: default;
}
#num li {
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #666;
    text-align: center;
    line-height: 20px;
    color: #fff;
    cursor: pointer;
    margin-right: 5px;
}
#num li.active {
    background: #f00;
}
.arrow {
    height: 60px;
    width: 30px;
    line-height: 60px;
    text-align: center;
    position: absolute;
    top: 45%;
    z-index: 3;
    display: none;
}

.arrow:hover {
    background: rgba(0, 0, 0, 0.7);
}

#rolling_ads:hover .arrow {
    display: block;
}
#left {
    left: 2%;
    color: white;
}

#right {
    right: 2%;
    color: white;
}
/*轮播图下方推荐*/
.ads_b {
    width: 390px;
    height: 130px;
}






















